.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .anticon  {
    font-size: 32px;
    color: rgb(0, 172, 0);
}
.navbar .anticon.anticon-line-chart svg{
    fill: rgb(0, 172, 0);
}
.green {
    color: rgb(0, 172, 0);
}

.logo {
    color: var(--text-color);
    font-weight: normal;
}

.switch__theme {
    width: 50px;
    height: 30px;
    margin-left: 2px;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0px 0px 5px #18191b;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switcher {
    position: absolute;
    right: 9%;
    top: 5%;
    display: flex;
}

.switcher .ant-btn {
    box-shadow: 0px 0px 5px #18191b;
    border-radius: 8px;
    border: none;
}